body{
    font-family: Arial, Helvetica, sans-serif;
}
.display, .bigger_display{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.bigger_display{
    align-items: stretch;
}
.second_todo, .due_Date{
    font-size: 15px;
    padding: 6px;
}
.add_Button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.delete_B{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
}
